# OCR: TESSERACT, SURYA, YANDEX
OCR_PROVIDER=YANDEX

YANDEX_OCR_API_KEY=<INSERT_HERE_OCR_API_KEY>
YANDEX_FOLDER_ID=<INSERT_HERE_ORGANIZATION/FOLDER_ID>
YANDEX_OCR_IAM_TOKEN=<INSERT_HERE_IAM_TOKEN>

USE_LLM_POST_PROCESSING=false
YANDEX_LLM_API_KEY=<INSERT_HERE_API_KEY>
YANDEX_LLM_PROMPT_ID=<INSERT_HERE_PROMT_ID>

SURYA_SERVICE_URL=http://localhost:5000